*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    align-items:center;
}
.login{
    display:flex;
    flex-direction:column;
    background-color:var(--lightGray);
    margin:0 auto;
    min-height:520px;
    max-width:338px;
    align-items:center;
    padding:0px 15px 0 15px;
    border-radius:20px;
    box-shadow: 1px 3px 6px rgb(0 0 0 / 0.16);
}
.login__icon{
    height:4rem;
    width:6.5rem;
    margin-top:24px;
    margin-bottom:12px;
}
.login__label{
    margin-bottom:42px;
    font-size:1.5rem;
    font-weight:400;
    letter-spacing:0.04em;
}
.login__email{
    margin-bottom:25px;
}
.login__name{
    margin-bottom:25px;
}
.login__input{
    width:100%;
   height:38px;
   font-size:15px;
   letter-spacing:0.14px;
   padding:0 14px;
   border:1px solid var(--line);
   border-radius:4px;
}
::placeholder{
    color:var(--line);
}
.login__loginBtn{
    margin-bottom:0.75rem;
}
.login__rememberMe{
    margin-top:14px;
    margin-bottom:5px;
}
.login__forgottenBtn{
 margin:0 auto;
 border-top:1px solid var(--line);
 cursor:pointer;
 letter-spacing:0.05em;
 padding:0.5rem 0;
}
.login__register{
    padding:0.75rem 0 0 0;
    font-weight:600;
    text-transform:uppercase;
    color:var(--blueVariant);
}
.login__guest{
    padding:0.5rem 0 1rem 0;
    letter-spacing:0.02em;
}

/* FORM EMAIL */
.login__link{
    text-decoration:none;

}
.login__wrong{
    display:none;
    justify-content:center;
    color:var(--wrong);
    margin-top:2px;
    margin-bottom:10px;
}
.login__nonExistent{
    display:none;
    justify-content:center;
    color:var(--wrong);
    margin-top:2px;
    margin-bottom:10px;
}