/* -----------------------HOME SECTION --------------------------- */
.home{
    position:relative;
    min-height:60rem;
    border-radius:20px 20px 0 0;
}
.main{
    padding-inline:0 !important;
    padding-block:0 !important;
}
.home__imgCont{
    position:absolute;
    width:100%;
    height:max-content;
    z-index:1;
}
.home__imgCont > img{
    width:100%;
    height:100%;
}
.home__mainContent{
    display:flex;
    padding-top:3.5rem;
    min-height:60rem;
    height:100%;
}
.home__left{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    flex-basis:calc(100%/2);
    background: rgb(235,157,86);
    background: -moz-linear-gradient(180deg, rgba(235,157,86,1) 0%, rgba(216,157,102,0.59) 100%);
    background: -webkit-linear-gradient(180deg, rgba(235,157,86,1) 0%, rgba(216,157,102,0.59) 100%);
    background: linear-gradient(180deg, rgba(235,157,86,1) 0%, rgba(216,157,102,0.59) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eb9d56",endColorstr="#d89d66",GradientType=1);
    color:var(--white);
    padding-top:14rem;
    padding-inline:1rem;
    gap:4rem;
}
.home__text{
    font-size:2rem;
    max-width:28ch;
    text-shadow:1px 1px var(--black);
}
.home__right{
    font-family: 'Raleway', sans-serif;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-basis:calc(100%/2);
    padding-inline:3rem;
    flex-direction:column;
    padding-bottom:4rem;
    padding-top:15rem;
    background-color:var(--whitish);
}
.home__h1-Cont{
    width:100%;
    max-width:42rem;
    display:flex;
    height: 100%;
    align-items:center;
    justify-content:center;
}
.home__h1{
    font-size:6rem;
    font-style:italic;
    font-weight:100;
    text-shadow:2px 2px var(--black);
    color:var(--textGray);
    line-height:55px;
    letter-spacing:0.05em;
    width:100%;
    display:flex;
    flex-direction:column;
    z-index:2;
}
#span1,#span2{
    font-size:8rem;
    font-weight:200;
    width:100%;
}
#span1{
    text-align:left;
}
#span2{
    text-align:right;
}
#span3{
    text-align:center;
}
.home__btnWrap{
    display:flex;
    align-items: baseline;
    flex-direction:column;
    align-items:center;
}
.home__startBtn{
    margin-bottom:2rem;
    background: rgb(141,92,92);
    background: -moz-linear-gradient(180deg, rgba(141,92,92,1) 0%, rgba(126,80,80,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(141,92,92,1) 0%, rgba(126,80,80,1) 100%);
    background: linear-gradient(180deg, rgba(141,92,92,1) 0%, rgba(126,80,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8d5c5c",endColorstr="#7e5050",GradientType=1);
    font-size:2.5rem;
    padding-inline:2.5rem;
    padding-block:1rem;
    border-radius:20px;
}
.home__rating{
    gap:0.5rem;
    display:flex;
    width:fit-content;
}
.home__rating > img {
    width:2.2rem;
    height:2.2rem;
}
.home__ratingNumber{
    color:var(--textGray);
    text-shadow:1px 1px var(--black);
    text-align:center;
    margin-top:1rem;
    font-size:1.1rem;
}