@media only screen and (max-width: 768px){
    .home__container{
        height:20rem;
    }
    .home__dots{
        gap:1rem;
    }
    .home__singleDot{
        width:15px;
        height:15px;
    }
    .home__btn{
        width:30px;
        height:30px;
    }
}
@media only screen and (max-width: 420px){

    .review__imgWrap{
        width:6rem;
        height:4rem;
        margin-right:2rem;
    }
    .home__img,
    .home__absoluteContainer{
        border-radius: 0;
    }
    .review__card{
        border-radius:10px;
        box-shadow:none;
        border:1px solid var(--navMquery);
    }
    .review__card:hover,
    .review__card:focus-visible{
    scale:1;
    } 

}