.cart__iconCont{
    width:100%;
    height:max-content;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom:4rem;
}
.cart__iconCont > img {
    width:4rem;
    aspect-ratio:1;
    opacity:0.4;
}
.cart__items{
    padding-top:1.5rem;
}
.cart-iframe__noItem{
    width:100%;
    border:none;
}
.cart__noItem{
    display:flex;
    text-align:center;
    justify-content:center;
    align-items: center;
}
.cart__noItem-description{
    font-size:2.5rem;
    opacity:0.7;
    color:var(--navMquery);
    letter-spacing:0.25em;
    font-weight:700;
}
.cart__span-empty{
    color:var(--offline);
    opacity:0.7;
}
.cart__divToShop{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:3rem;
}
.cart__btnToShop{
    font-size:1.5rem;
}
.cart__btnToShop > a {
    letter-spacing:0.05em;
    text-decoration: none;
    color:var(--white);
    width:100%;
    height:100%;
}
/* ----------------CART__CONTAINER--------------------- */
.cart__itemsContainer{
    display:flex;
    flex-direction:column;
    gap:1rem;
    width:60%;
}
.cart__singleItem{
    display:flex;
    padding-block:2rem;
    padding-inline:1rem;
    border:2px solid var(--navMquery);
    border-radius:0 20px 20px 0;
}

.cart__image{
    max-width:12rem;
    max-height:10rem;
}
.cart__image > img{
    width:100%;
    height:100%;
}
.cart__productName{
    font-size:1.25rem;
    color:var(--altBlueDark);
    letter-spacing:0.05em;
    font-weight:600;
    width:min-content;
}
.cart__options{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.cart__description{
    display:flex;
    width:100%;
    text-align:center;
    align-items:center;
    justify-content:space-between;
    gap:0.5rem;
    letter-spacing:0.05em;
    padding-inline:1rem;
}
.cart__input{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:0.25em;
}
.cart__amountInput{
    padding-inline:0.15em;
    text-align:center;
}
.cart__productCost{
    width:min-content;
}
.cart__btnCancel{
    position:relative;
    right:0;
    width:1.5rem;
    height:1.5rem;
    border:none;
    background-color:transparent;
    opacity:0.5;
}
.cart__btnCancel:hover{
    cursor:pointer;
    opacity:1;
}
.cart__btnCancel > img{
    width:100%;
    height:100%;
}
.cart__amountInput{
    width:3rem;
}   
.cart__selectedItemsCont{
    display:flex;
    color:var(--textGray);
    gap:2rem;
    justify-content:space-between;
    align-items:flex-end;
}
 /* --------------- buy container -------------  */
.cart__buyContainer{
    border:1px solid var(--textGray);
    background-color:var(--whitish);
    height:100%;
    width:40%;
    padding:1rem;
    display:flex;
    flex-direction: column;
}
.cart__btnBuy{
    font-size:1.5rem;
    font-weight:600;
    max-width:fit-content;
    padding-inline:3rem;
    letter-spacing:0.1em;
    color:var(--white);
    border:1px solid var(--textGray);
}
.cart__buyButtons{
    display:flex;
    flex-direction: row-reverse;
    align-items:end;
    justify-content: space-between;
    border-radius:5px;
    
}
.cart__btnBuy:hover,
.cart__btnBuy:focus-visible{
    color:var(--textGray);
    background-color:var(--lightBlue);
}
.cart__btnWithraw{
    font-size:1.5rem;
    font-weight:600;
    max-width:fit-content;
    padding-inline:1.5rem;
    letter-spacing:0.1em;
    color:var(--textGray);
    border:1px solid var(--textGray);
    background-color:transparent;
}
.cart__btnWithraw:hover,
.cart__btnWithraw:focus-visible{
    color:var(--white);
    background-color:var(--quarterBtn2);
}
.cart__totalAmountContainer{
    display:flex;
    flex-direction: column;
    width:100%;
    padding-block:2rem;
    gap:1rem;
}
.cart__totalAmount{
    text-align:center;
    font-weight:600;
    font-size:1.25rem;
    color:var(--blue);
    -webkit-text-stroke:0.001px var(--black);
}
.cart__priceCont{
    display:flex;
    justify-content: space-between;
}
.cart__priceCont:last-child{
    padding-bottom:0.5rem;
    border-bottom:2px solid var(--secondNav);
}
#total{
    font-size:1.2rem;
    font-weight:600;
    color:var(--blue);
    -webkit-text-stroke:0.001px var(--black);
}