
.nav__toggleBtn{
position:relative;
background-color:transparent;
width:50px;
aspect-ratio:1;
justify-content: center;
align-items:center;
flex-direction:column;
gap:10px;
border:none;
margin-right:26px;
cursor: pointer;
display:none;
}
.nav__spanLine{
    position:relative;
    height:2px;
    width:30px;
    background-color:var(--black);
}
/* MEDIA QUERY FOR TABLET */
@media only screen and (max-width:1024px) {
    .nav{
        position:relative;
        font-size:1rem;
    }
    .nav__toggleBtn{
        display:flex;
    }
    .nav__icon{
        z-index:200;
        width:50px;
        height:24px;
    }
    .nav__links{
        position:absolute;
        display:flex;
        flex-direction:column;
        text-align:center;
        z-index:9999;
        background-color:var(--white);
        top:100%;
        width:100%;
        padding-inline:2rem;
        padding-block:1rem;
        border-block:1px solid var(--tableHeader);
    }
    .nav__link{
        font-size:1rem !important;
    }
    .nav__user{
        width:100%;
        margin-right:0px;
        font-size:1rem !important;
    }
    .nav__link-button{
        font-size:1.5rem !important;
    }
    .nav__ul{
        display:flex;
        flex:1;
        flex-direction:column;
        font-size:1rem;
    }
    .nav__li{
        border-bottom:1px solid var(--line);
        justify-content: space-between;
        width:100%;
    }
    .nav__li--special{
        display:flex;
        justify-content:space-between;
        flex-direction:column;
        border-bottom:none;
    }
    .nav__li--Container{
        width:100%;
        display:flex;
        justify-content:space-between;
    }
    .nav__second{
        position:relative;
        background-color:transparent;
        width:100%;
        bottom:0;
    }
    .nav__second > li {
        text-align:left;
        margin-inline:10%;
    }
    .nav__second::before{
        display:none;
    }
    .nav__second--type2{
        width:100%;
    }
    .nav__user{
       padding-block:1rem 0; 
    }
    .inactive{
        display:none;
    }
    .main{
        margin:0;
        border-radius: 0;
        padding-inline:10px;
        padding-bottom:20px;
    }
    .main__form{
        display:flex;
        flex-direction:column;
    }
    .nav__second > li{
        border-bottom:1px solid var(--line);
        padding-block:1rem;
    }
    body{
        padding:0;
    }
}
@media only screen and (max-width:768px) {
    *:not(img,td,th){
        font-size:0.85rem;
    }
    ::placeholder{
        font-size:0.85rem;
    }
    .listHeaderBtn{
        font-size:0.8rem;
    }
    .main__titleWrap{
        border-radius:0 !important;
    }
}
@media only screen and (max-width:420px) {
    footer *,
    label *{
       font-size:0.8rem;
    }
    .nav{
        background: rgb(83,173,185);
        background: -moz-linear-gradient(180deg, rgba(83,173,185,1) 0%, rgba(60,129,138,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(83,173,185,1) 0%, rgba(60,129,138,1) 100%);
        background: linear-gradient(180deg, rgba(83,173,185,1) 0%, rgba(60,129,138,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#53adb9",endColorstr="#3c818a",GradientType=1);
    }
    .nav__second--type2{
        max-width:130px;
    }
    .main{
        margin:0;
        padding-top:30px;
        padding-bottom:60px;
        padding-inline:5px;
        margin:0;
        border-radius: 0;
    }
    .nav__second--type2 {
        max-width: 100%;
        margin-bottom:0.5rem;
    }
    .nav2{
        display:none;
    }
    .main__titleContainer{
        display:none;
    }
    .special-container,
    .special-container2{
        position:relative;
        padding-top:0px;
    }
}