@media screen and (max-width:768px){
    *{
        font-size:0.8rem !important;
    }
    table, thead, tbody, th, td, tr { 
		font-size:0.65rem !important; 
	}
    td{
        padding-inline:0.25em;
    }
}
@media screen and (max-width:420px){
    table, thead, tbody, th, td, tr { 
		font-size:0.5rem !important; 
	}
}