
body{
    background-color:var(--lightGray);
    z-index:-1;
}
.main__h2-hr{
    position:absolute;
    width:100%;
    left:0;
    border:1px solid var(--lightGray);
}
.main__search{
    margin-bottom:32px;
    color:var(--textGray);
    font-weight:400;
    font-size:1.1rem;   
    letter-spacing:0.02em;
}
.main__createBtn{
    margin-bottom:30px;
    text-decoration:none;
    display:inline-flex;
    justify-content:center;
    align-items:center;
}
.main__btnSearch{
    margin-right:14px;
}
.main__btnDismiss{
    width:90px;
    height:32px;
    border:none;
    background-color:transparent;
    cursor: pointer;
}
.main__btnDismiss:hover{
    color:var(--quarterBtn2);
}
.main__form{
    display:flex;
    align-items:center;
    gap:11px;
    margin-bottom:30px;
    margin-top:60px;
}
.main__inputContainer{
    display:flex;
    gap:11px;
    color:var(--textGray);
    flex-wrap:wrap;
    width:100%;
    justify-content:center;
}
::placeholder{
    color:var(--line);
}
.main__input{
    padding-top:9px;
    padding-bottom:16.5px;
    padding-left:15px;
    letter-spacing:0.14px;
    font-size:15px;
    line-height:13px;
    border-radius:4px;
    border:1px solid var(--line);
    flex:1;
}
.main__view{
    display:flex;
    flex-direction:row;
    background-color: var(--lightGray);
    width:100%;
    height:70px;
    align-items:center;
    padding:0 30px;
    justify-content:space-between;
    border-radius:4px;
}
.main__viewWrap-1{
    display:flex;
}
.main__viewBtn{
max-width:20px;
height:16px;
border:none;
background-color:none;
cursor:pointer;
}
.main__viewBtn--1{
margin-right:5px;
}
.main__viewBtn--2{
margin-right:5px;
}
.main__viewImg{
    max-width:100%;
}
.main__pageItemNum{
    display:flex;
    align-items:center;
    margin-left:35px;
    color:var(--textGray);
}
.main__pageItemNum2{
    display:flex;
    align-items:center;
    color:var(--textGray);
}
.main__viewWrap-2{
    display:flex;
    flex-direction:row;
    align-items:center;
    font-size:16px;
    gap:5px;
    color:var(--textGray);
}
.main__pagesNumCont{
    display:flex;
    font-size:16px;
    gap:5px;
    color:var(--textGray);
    max-width:50px;
}
.main__page{
    width:20px;
    height:20px;
    background-color: var(--blueVariant);
    border:none;
    cursor: pointer;
}
.main__pageImg{
    width:90%;
    margin:auto 0;
}
.main__inputForm{
    display:flex;
    flex-direction:column;
    flex:1;
    text-align:left;
    max-width:15rem;
    color:var(--textGray);
}
.main__btnWrap{
    position:relative;
    display: flex;
    align-items:center;
    justify-content:center;
    top:7px;
}
.main__pageBtnPrev{
    margin-right:10px;
}
.main__pageBtnNext{
    margin-left:10px;
}
.current-slideNumber{
    color:var(--blueVariant);
}
.main__primaryText{
    font-size:1.2rem;
    list-style:none;
}
.main__textForBtns{
    max-width:50px;
    margin-inline:1rem;
}
.main__description{
display:flex;
align-items:center;
}
.main__description--special{
    display:flex;
    text-align:right;
    margin-left:1.25rem;
}

.main__productsContainer{
    display:grid;
    grid-gap:24px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 6fr));
}
.main__singleImgContainer{
    display:flex;
    flex-direction:column;
    color:var(--textGray);
    font-size:1.25rem;
    text-align:left;
    margin-top:30px;
    transition:all 250ms;
}
.man__singleImgContainer--special{
    width:100%;
    flex-direction:row;
    display:none;
}
.main__image{
    position:relative;
    object-fit:cover;  
    overflow:hidden;
    height:20rem;
}
.main__image > img{
    width:100%;
    height:100%;
}
.main__sale{
    position:absolute;
    transform:rotate(-45deg);
    top:24px;
    width:7rem;
    text-align:center;
    left:-18px;
    color:var(--btnText);
    -webkit-text-stroke:0.5px var(--black);
    border:1px solid var(--success);
    padding: 0 1rem;
    background: rgb(239,240,127);
    background: linear-gradient(90deg, rgba(239,240,127,1) 0%, rgba(150,255,110,1) 100%, rgba(187,189,190,1) 100%);
    transform-origin:28%;
}
.main__info{
    position:relative;
}
.main__comment-box{
    display:none;
    width:100%;
    height:100%;
}
.active__comment{
    display:flex;
    position:absolute;
    flex-direction:column;
    background-color:var(--white);
    z-index:1000;
}
.main__commentLabel{
    padding:2px;
}
.main__commentBox{
    text-align:start;
    margin:2px 0;
    padding-bottom:50px;
    padding-inline:0.5rem;
    padding-top:0.25rem;
    border-color:var(--gray);
}
.main__commentBtnWrap{
    display:inline-flex;
    justify-content:space-between;
    flex-direction:row;
    background-color:transparent;
}
dl > dd{
    font-weight:600;
    font-size:1.05rem;
}
.main__text{
    opacity:0.85;
    font-size:1.05rem;
    letter-spacing:0.04em;
    padding-inline:0.25rem;
}
.main__commentButton{
    width:30%;
    padding:2px 0;
    align-self:center;
    text-align:center;
}
.main__picBtns{
    display:flex;
    align-items:center;
    position:relative;
    width:100%;
    height: 41px;
    border:1px solid var(--lightGray);
    border-radius:0 0 4px 4px;
    align-items:center;
    justify-content:space-between;
    max-width:100%;
}
.main__description{
    flex: 1;
    display:grid;
    grid-template-columns:1fr 1fr;
    max-width:100%;
}
.main__topDescription{
 font-size:16px;
}
.actions__group1{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
}
.main__chatBox{
width:24px;
height:24px;
margin-left:0.5em;
border:none;
background:transparent;
cursor: pointer;
}
.main__cart{
    border:none;
    background-color:transparent;
    cursor:pointer;
}
.main__cartImg{
    width:21px;
    height:21px;
}
.main__chatImg{
    width:25px;
    height:25px;
    z-index:10;
}
.main__delete{
    width:24px;
    height:24px;
    margin-right:0.5em;
    border:none;
    background:transparent;
    cursor: pointer;
}
.main__deleteImg{
    width:18px;
    height:18px; 
    z-index:10;
}
.add-item{
    display:none;
    background-color:transparent;
    margin-top:30px;
    font-size:60px;
    border:var(--textGray);
    cursor: pointer;
    color:var(--btnText);
    box-shadow: 0 0 2px 0 rgb(177, 175, 175);
}
.add-item:hover{
    color:var(--blueVariant);
}
.main__view2{
    margin-top:39px;
}
@media only screen and (max-width:420px) {
    .main__createBtn{
        width:100%;
        align-items:center;
    }
    .main__search{
        width:100%;
        text-align:center;
    }
}